<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MP2019.NDND">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.MP2019.NDND.CircleLIst_NavigationDrawer"
            android:label="@string/title_activity_circle_list__navigation_drawer" />
        <activity android:name="com.MP2019.NDND.circle.Finance.ToSendRegisterActivity" />
        <activity android:name="com.MP2019.NDND.circle.Finance.ReceiptRegisterActivity" />
        <activity android:name="com.MP2019.NDND.circle.Finance.CheckPaymentActivity" />
        <activity android:name="com.MP2019.NDND.circle.Schedule.CheckAttendanceActivity" />
        <activity android:name="com.MP2019.NDND.circle.Schedule.ScheduleRegisterFormActivity" />
        <activity android:name="com.MP2019.NDND.circleList.CircleRegisterFormActivity" />
        <activity android:name="com.MP2019.NDND.circle.CircleMainActivity" />
        <activity android:name="com.MP2019.NDND.login.SignUpActivity" />
        <activity android:name="com.MP2019.NDND.login.LoginActivity" />
        <activity
            android:name="com.MP2019.NDND.circleList.CircleListActivity" />
        <activity android:name="com.MP2019.NDND.login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>